<div>
    <h3 class='header'>Select Schedule</h3>
    <p>
        <mat-button-toggle-group name="days" #toggleGroup="matButtonToggleGroup" multiple>
          <mat-button-toggle value="1">Sun</mat-button-toggle>
          <mat-button-toggle value="2">Mon</mat-button-toggle>
          <mat-button-toggle value="3">Tue</mat-button-toggle>
          <mat-button-toggle value="4">Wed</mat-button-toggle>
          <mat-button-toggle value="5">Thur</mat-button-toggle>
          <mat-button-toggle value="6">Fri</mat-button-toggle>
          <mat-button-toggle value="7">Sat</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
</div>